*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
outline: none;
font-family: 'Jost', sans-serif;
border: none;
}

body{
    display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
h1{
    font-size: 2.5em;
}